
<div class="text-center">
  <h3>タスクリスト　ログイン </h3>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_for(:session, url: login_path) do |f| %>
    
      <div class="form-group">
        <%= f.label :email, "Eメール" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      
      <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>

    <% end %>
<br>

    <%= link_to "会員登録はこちら", signup_path, class: "btn btn-info" %>
  </div>
</div>
