<header>
  <nav class="navbar navbar-default navbar-static-top">
   <div class="container"> 
      <!-- <li class="dropdown"> -->
          <a class="navbar-brand" href="#" class="dropdown-toggle" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false">タスクリスト<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "未了タスク一覧", root_path %></li>
            <li><%= link_to "完了タスク一覧", done_path %></li>
            <li><%= link_to "タスクの登録", new_task_path %></li>
          </ul>
      <!-- </li> -->
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>