<!DOCTYPE html>
<html>
  <head>
    <title>"タスクリスト"</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  </head>

  <body>
     <%= render "layouts/navbar" %>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <%= render "layouts/flash_tasks" %>
        <% @current = Time.now %>
        <div class="current" %>
          <%= @current.getlocal("+09:00").strftime("%Y年%m月%d日　%H時%M分") %>
         </div>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
